* {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  --post-it-color: #feff9c;
  --post-it-input-color: #eaedac;
  --border-color: #333;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--border-color);
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/bkg.jpg");
  background-repeat: repeat;
  opacity: 0.75;
  z-index: -1;
  overflow-y: auto;
}

header {
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 0;
}

.btn {
  font-family: "Indie Flower";
  font-size: 0.75em;
  width: 30%;
  outline: none;
  cursor: pointer;
  padding: 0.25em 0 0 0;
  border-radius: 0.3em;
  background: linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );
  color: white;
  border: none;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(
    90deg,
    hsla(240, 2%, 15%, 1) 0%,
    hsla(60, 22%, 20%, 1) 100%
  );
  box-shadow: 0 0 5px 0 hsl(200, 100%, 20%);
}

.btn:active,
[data-button-delete]:active,
[data-button-edit]:active {
  background: linear-gradient(
    90deg,
    hsla(240, 2%, 10%, 1) 0%,
    hsla(60, 22%, 15%, 1) 100%
  );
}

.list-item:hover [data-button-delete],
.list-item:hover [data-button-edit] {
  opacity: 1;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  font-weight: bolder;
  width: 400px;
  height: 180px;
  border-radius: 1em;
  padding: 0.25em;
  background-color: var(--post-it-color);
  margin-bottom: 20px;
}

#todo-input {
  width: 80%;
  height: 40px;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 0.9em;
  background-color: var(--post-it-input-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding-left: 0.3em;
}

.filter-form {
  background-color: var(--post-it-color);
  font-size: 1.5rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1em;
}

.filter-form-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1px;
}

.list-item {
  list-style: none;
  padding: 0.25em;
  border-radius: 0.5em;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  background-color: var(--post-it-color);
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.list-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 25px solid rgba(223, 191, 166);
  border-left: 25px solid transparent;
}

[data-list-item-checkbox] {
  margin-top: 10px;
}

.list-item-label {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  gap: 0.25em;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

[data-list-item-text] {
  flex-grow: 1;
  height: 140px;
  text-overflow: ellipsis;
}

.inline-container {
  display: flex;
  justify-content: center;
  gap: 0.75em;
  width: 100%;
  margin-bottom: 5px;
}

[data-button-delete],
[data-button-edit] {
  opacity: 0;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #aaa;
}

.accordion {
  border: none;
  border-radius: 10px;
  width: 400px;
  font-size: 2rem;
  font-weight: bolder;
  align-items: center;
  background-color: var(--post-it-color);
  padding-left: 0.25em;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.accordion-title {
  flex-grow: 1;
  text-align: center;
}

.arrow-icon {
  font-size: 1.5rem;
}

#filter-name {
  background-color: var(--post-it-input-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding-left: 0.25em;
}

.accordion-header.active {
  background-color: var(--post-it-color);
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-content.open {
  display: block;
}

.filter-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding-bottom: 0.5rem;
  height: 75px;
}

.hide-completed {
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: var(--post-it-color);
  margin: 25% auto;
  border: 1px solid #888;
  width: 200px;
  height: 200px;
  border-radius: 1em;
  /* display: flex; */
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.25em;
  gap: 0.5em;
}

#modal-input {
  background-color: var(--post-it-input-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  height: 120px;
  width: 90%;
  overflow: auto;
  display: block;
  white-space: pre-wrap;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 1em;
  resize: none;
}

.close {
  color: #666;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-end;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
